absl-py==0.8.1
astor==0.8.0
backports.weakref==1.0.post1
certifi==2019.11.28
enum34==1.1.6
funcsigs==1.0.2
futures==3.3.0
gast==0.3.3
grpcio==1.27.2
h5py==2.9.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0q
linecache2==1.0.0
Markdown==3.1.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
mock==3.0.5
numpy==1.16.6
protobuf==3.11.2
scikit-learn==0.20.4
scipy==1.2.1
six==1.15.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
traceback2==1.4.0
unittest2==1.1.0
Werkzeug==1.0.1
